# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Escape Characters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) Booleans <br>
5) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) truth tree <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) and/or <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) elif <br>
 &nbsp;&nbsp;&nbsp;&nbsp; 3) else <br>
6) <b>In-Class Exercise #2</b> <br>
7) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
8) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
9) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
10) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
12) Try and Except <br>

### Int & Float Assignments

##### Assigning int

In [24]:
num_int = 1013

print(num_int)
(type(num_int))

1013

int

##### Assinging float

In [25]:
num_float = 10.5

print(num_float)
type(num_float)

10.5

float

#### Performing Calculations on ints and floats

##### Addition

In [30]:
n1 = 4
n2 = 15.6

print(n1 + n2)

19.6

In [33]:
result = n1 + n2

print(result)

result += 3
print(result)

19.6
22.6

In [81]:
result += 3
print(result)

22.599999999999994

##### Subtraction

In [80]:
result -= 3
print(result)

19.599999999999994

##### Multiplication

In [123]:
result *= 3
print(result)

2.472869154372177e+21

##### Division

In [164]:
result /= 3
print(result)

67.79999999999994

In [165]:
4 / 2

2.0

##### Floor Division

In [170]:
result = 23 //5

rest = 23 % 5

print(result, rest)

4 3

##### Modulo

In [175]:
20 % 7

6

##### Exponential

In [176]:
4 ** 3

64

### String Input-Output

##### String Assignment

In [183]:
name1 = "Alex Jaime Pozas"
print(name1)
print(type(name1))

Alex Jaime Pozas
<class 'str'>

In [191]:
namelist = name1.split(' ')

In [192]:
''.join(namelist)

'AlexJaimePozas'

##### Escape Characters

In [204]:
print('hello \thow are you?')

hello 	how are you?

In [ ]:
# \n newline character
# \t tab character

In [ ]:
# \n

In [ ]:
# \t

In [206]:
# Raw String
print(r'hello there what\s your name?')

hello there what\s your name?

##### String Concatenation

In [208]:
firstname = 'John'
lastname = 'Smith'

fullname = f'{firstname} {lastname}'
print(fullname)

John Smith

##### Type Conversion

In [217]:
fullname + str(result)
print(type(fullname))
print(type(result))

<class 'str'>
<class 'int'>

In [215]:
10 * int('10')

100

##### .format() and f-strings

In [219]:
'{} is my name, is yours {}?'.format('Alex', 'Bal')

'Alex is my name, is yours Bal?'

##### Old Way (python 2)

# In-Class Exercise 1 <br>
<p>Increase the year by 1 and then print out the following statement using type conversion and a formatted string</p>

In [222]:
#OUTPUT:  I drive a blue 2023 Ford Focus.
color = 'blue'
make = 'Ford'
year = '2022'
model = 'Focus'


year = int(year) + 1

print(f'I drive a {color} {year} {make} {model}')

I drive a blue 2023 Ford Focus

### Booleans

### If Statements

In [226]:
# if <expression>:
#     <statement>

if True:
    print("Hello this is true")

Hello this is true

In [227]:
# if <expression>:
#     <statement>

if False:
    print("Hello this is not true")

In [231]:
print('Start of Code')

if False:
    print('how are you?')
    print('i\'m fine and you?')
    print('great too!')
        
print('End Code')

Start of Code
End Code

In [236]:
# Available operators: Greater(>), Less(<), Equal(==)
# Greater or Equal(>=), Less or Equal (<=), Not Equal (!=)

num1 = 10
num2 = 5
num3 = 2

print(num1 < num2)
print(num1 > num2)
print(num1 == num2)
print(num1 != num2)
print(int(num1/num2) == num2)

False
True
False
True
False

## Using 'and'/'or' with If Statements

In [244]:
# Truth Tree:
# T and T = T
# T and F = F
# F and F = F
# T or T = T
# T or F = T
# F or F = F

num1 = 10
num2 = 5
num3 = 2

if num1 > num2 or num2 < num3:
    print(True)

True

### Else Statements

In [247]:
# An else statement runs when the if statement above it evaluates to False

req_height = 60
rider_height = 59

if rider_height > req_height:
    print("Welcome to the Haunted Mansion!")
else:
    print("Sorry you\'re not tall enought to ride.")

Sorry you're not tall enought to ride.

### Elif Statements

In [254]:
# An elif only runs when the if (or elif) directly above it evaluates to False

age1 = 3
parent_present = True

if age1 > 17:
    print('ticket is $15 dls')
elif parent_present:
    print('tickets are $15 dls each, for you and your parent')
else:
    print('sorry, you need to be older than 17 or accompanied by a parent')

tickets are $15 dls each, for you and your parent

### In-Class Exercise 2 <br>
<p>Write a program that will check a person's age and adjust the ticket price. Regular ticket price is $10. Seniors (65+) get 25 percent off and children (under 0-9) are half off. Print out the ticket price at the end</p>

In [266]:

ticket = 10
#person_age = 72 # Output: Your ticket is $7.50
#person_age = 47 # Output: Your ticket is $10
person_age = 8 # Output: Your ticket is $5.00

# if person is less than 10, 50% off
# elif person is less than 65
# else 25% off

if person_age < 10:
    print(f'Your ticket is ${ticket*.5:.2f}')
elif person_age < 65:
    print(f'Your ticket is ${ticket:.2f}')
else:
    print(f'Your ticket is ${ticket*(1-.25):.2f}')

Your ticket is $5.00

### Lists

##### Declaring Lists

In [378]:
x_list = list(range(11))
print(x_list[-2::-1])
print(x_list)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

##### Indexing a List

In [287]:
# [start: stop: step] 

print(x_list[3:8])
print(x_list[3:])
print(x_list[:7])
print(x_list[3:8])
print(x_list[::5])

[3, 4, 5, 6, 7]
[3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6]
[3, 4, 5, 6, 7]
[0, 5, 10]

##### .append()

In [318]:
x_list.append(len(x_list))
print(x_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41]

##### .insert()

In [321]:
# list.insert(index,value)
x_list.insert(1, 'bal')
print(x_list)

[0, 'bal', 'bal', 'bal', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41]

##### .pop()

In [367]:
# default is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable

lilpop = x_list.pop(-1)
print(x_list)
print(lilpop)

[1, 2, 3]
4


##### .remove()

In [383]:
# value to be removed , not index

print(x_list)
x_list.remove(10)
print(x_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

**.index()**

In [373]:
x_list.index(1)

0

**.count()**

In [382]:
(x_list.count(10))

1

##### del()

In [389]:
# index to be removed, not value
# BE CAREFUL with del, can cause indexing errors if not used carefully
print(x_list)
del x_list[-1]
print(x_list)

[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4]

##### Concatenating Two Lists

In [391]:
# will append two lists together, not add up the elements in each list

x_list = [1,2,3]
y_list = [4,5,6]

merge_list = x_list + y_list
print(merge_list)

[1, 2, 3, 4, 5, 6]

##### Lists Within Lists

In [394]:
# Lists are able to hold any type of element, including OTHER lists themsevles
# they can also go as deep as you want, having many lists nested inside of each other

names = ['max', 'sam', ['grumpy', 'sleepy', 'sneezy']]
print(names[0][0:2])

ma

### For Loops

In [401]:
# for <keyword> in <iterable>:
#     <statement>

for num in [1,2,4,6,8,10,12,14,16,18,20]:
    print(num, f'x variable is {num}')
    
print('code end')

1 x variable is 1
2 x variable is 2
4 x variable is 4
6 x variable is 6
8 x variable is 8
10 x variable is 10
12 x variable is 12
14 x variable is 14
16 x variable is 16
18 x variable is 18
20 x variable is 20
code end

In [404]:
xstring = 'this is me'

for character in xstring:
    print(character)

t
h
i
s

i
s

m
e

##### Continue Statement

In [ ]:
# will continue to next iteration

In [411]:
for num in [1,2,3,4,5,6,7,8,9,10]:
    if num in range(4,8):
        continue
    print(num)

1
2
3
8
9
10

##### Break Statement

In [ ]:
# will break out of current loop

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

##### Nested/Double For Loops

In [413]:
nums = [1,2,3,4,5]

for i in nums:
    for j in nums:
        print(i, j)

1 1
1 2
1 3
1 4
1 5
2 1
2 2
2 3
2 4
2 5
3 1
3 2
3 3
3 4
3 5
4 1
4 2
4 3
4 4
4 5
5 1
5 2
5 3
5 4
5 5

### While Loops

In [414]:
# while <conditional>:
#     <statement to run while condition is true>

num = 0

while num < 25:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

##### Looping 'While True'

In [421]:
while True:
    keep_playing = input('do you want to play again? y/n:  ')
    if keep_playing == 'n':
        break

do you want to play again? y/n:  n

### Built-In Functions

##### input()

In [ ]:
# input(question) => ALWAYS RETURNS A STRING

##### range()

In [ ]:
#Start, Stop, Step

##### len()

In [ ]:
# check Length of variable

##### help()

In [ ]:
# Use this function to view more info about a python function (With a DOCSTRING)

##### isinstance()

In [ ]:
# Check a variable to find out what Object family it belongs to
# isinstace(var, type)

### Try and Except

In [ ]:
# use whenever you expect to encounter a bug so that the error doesn't cause the program to stop
# Use so that you can log out graceful and useful error messages

##### Looping Through Lists

In [ ]:
# two ways to loop through a list, using range for index and in for values

# Loop with a for loop (By Index)

    
# Loop with a for loop (Using the 'in' keyword)

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [426]:
list_num = []

for num in range(1001):
    if num ** 3 < 1001:
        print(num, '^3 =', num ** 3)
    else:
        break

0 ^3 = 0
1 ^3 = 1
2 ^3 = 8
3 ^3 = 27
4 ^3 = 64
5 ^3 = 125
6 ^3 = 216
7 ^3 = 343
8 ^3 = 512
9 ^3 = 729
10 ^3 = 1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [465]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break
# list of prime numbers from 2-100


# if the remainder of the number divided by previous numbers never = 0, then it is prime...
# need to keep track of how many numbers are divisible by current number
notprimes = []
for num in range(2, 101):
    for div in range(2, num):
        if num % div == 0:
            notprimes.append(num)
            break

print(primes)
print(101 - 2 - len(notprimes))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]
25

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [470]:
age = int(input(f'how old are you? '))

if age < 18:
    print('kids')
elif age < 66:
    print('adults')
else: 
    print('seniors')

how old are you? 66
seniors